#Browse {
    width: 100%;
}

#Content {
    width: 100vw;
    height: calc( 100% - 5px );

    margin-top: 5px;
    padding: 10px;

    box-shadow: 48.795vw -20px 11px #292B2C, -48.795vw -20px 11px #292B2C;
    background-color: #292B2C;
    color: white;
    position: absolute;
}