#Browse {
    width: 100%;
}

#TEMP {
    width: 100%;
    height: 100%;

    margin-top: 5px;

    box-shadow: 48.795vw -20px 11px #292B2C, -48.795vw -20px 11px #292B2C;
    background-color: #292B2C;
    color: white;
    position: absolute;
}