.v-header {
  min-height: 40em;

    display: flex;
    align-items: center;
    color: #fff;

    font-size: 16px;
  }

  .container {
    margin: auto;
    text-align: center;
  }

  .fullscreen-video-wrap {
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100vw;
    height: 40em;
    overflow: hidden;
  }

  .fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
  }

  .header-content {
    z-index: 2;
    position: relative;
    left: -25em;
    top: 2em;
    text-shadow: 2px 2px #292B2C, 3px 3px #292B2C;
  }

  .header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .header-content p {
    font-size: 1.5rem;
    display: block;
  }
